<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">შეფასებები</h2>
                    <h3 class="section-subheading text-muted">მოსწავლეების და მათი მშობლების შეფასებები.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>დათუნა (მოსწავლე)</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">რატო მომწონს თიკუნას გაკვეთილი?! მომწონს მისი დამოკიდებულება ჩემი, როგორც მოსწავლის მიმართ.თავს ყოველთვის მის თანატოლად ვგრძნობ, თუმცა არ მავიწყდება. რომ იგი მასწავლებელია, რომელიც არაჩვეულებრივად ხსნის მასალას და ხანდახან აბსოლუტურად უინტერესოს საინტერესოს ხდის. მასთან ურთიერთობა არასდროსაა სტრესის მომოტანი და გაკვეთილის პროცესი ყოველთვის კომფორტულია. ცდილობს და გამოდის იყოს საინტერესო, კომუნიკაბელური და ლაღი.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>ნიკა (მოსწავლე)</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">თიკუნა მასწავლებელთან დაახლოებით 2 წლიანი ურთიერთობა მაკავშირებს. ეს ორი წელი კი მათემატიკს გავკეთილი უფრო და უფრო მარტივი და კომფორტული ხდებოდა ჩემთვის. იყო რაღაც სირთულეები თუმცა თიკუნას ხელშეწყობით და საკმაოდ ლოგიკური და გაადვილებული მასალის ახსნით ამ სირთულეებს მაინც ყოველთვის მარტივად ვლახავდით. თიკუნა მასწავლებელი არის ძალიან შრომისმოყვარე, პოზიტიური, მეგობრული, კომუნიკაბელური და ამ ყველაფერთან ერთად თავის მხრივ მკაცრიც (ისეთი არა რო ვა/ოდნავ). ჩემი აზრით მასწავლებელი უნდა იყოს შედარებით მკაცრიც იმ მიზნით, რომ შედეგი დაიდოს. ამ ორ წელიწადში საკმაოდ ბევრი მასაალის დაფარვა მოგვიწია და ამ ყველაფრის გაკეთება საკმაოდ ხარისხიანად მოვახერხეთ. მე ძალიან კმაყოფილი ვარ ჩემი და თიკუნა მასწავლებლის ურთიერთობით რადგან იმასთან ერთად რომ მათემატიკურად ბევრად უფრო წინ წავიწიე ასევე გავიჩინე ძალიან კარგი მეგობარი მისი სახით.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>ლელა (მშობელი)</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">მოგესალმებით. დღეს გვქონდა ონლაინ კრებები მათემატიკის მასწავლებელმა ნიკა შეაფასა როგორც მოწესრიგებული და გონიერი მოსწავლე დიდი მადლობა თქვენ ეს თქვენი დიდი დამსახურებითაა ასე მეც ძალიან დავმშვიდდი და ძალიან მეიმედებით. ნიშანზე მეტად მახარებს რომ გაერკვა ყველა საკითხში და თითონაც მშვიდად არის წელს ასე გავაგრძელოთ კიდევ ერთი თვე ნახევარი იქნება სწავლა და დიდი თხოვნა გვექნება მომავალ წელსაც გაგვიგრძელოთ სწავლება.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>მონტ აბდოუ მარ (მშობელი):</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thank you very much for the effort you made with Badr this year, and we will meet next year for good!</p>
                                </div>
                            </div>
                            </li>
                        <li>
                        <li class="timeline-image">
                            <div class="timeline-inverted">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>თემი (მოსწავლე):</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">წასვლამდე გეძებდით მაგრამ ვერ გიპოვეთ. დიდი ხანი ვეღარ გნახავთ და ბოდიში მინდა მოვიხადოთ რომ ნორმალურად არ დაგემშვიდობეთ..🙁დიდი მადლობა ყველაფრისთვის რაც მასწავლეთ და იმედი მაქვს კიდევ შევხვდებით ერთმანეთს , რადგან თქვენზე კარგი და მეგობრული მასწავლებელი არ მყოლია💗წარმატებას გისურვებთ მომავალში  და აუცილებლად ვევწვევი სკოლას თქვენს სანახავად მომავალში❤️</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>შეგვაფასეთ
                                    <br>თქვენც!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
