<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" data-ka="კონტაქტი" data-en="Contact">კონტაქტი</h2>
                    <h3 class="section-subheading text-muted" data-ka="დაგვიკავშირდით და ჩვენ მალე გიპასუხებთ." data-en="Get in touch and I will get back to you shortly.">დაგვიკავშირდით და ჩვენ მალე გიპასუხებთ.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="თქვენი სახელი *" id="name" name="name" required data-ka-placeholder="თქვენი სახელი *" data-en-placeholder="Your Name *" data-ka-validate="გთხოვთ შეიყვანოთ სახელი." data-en-validate="Please enter your name." data-validation-required-message="გთხოვთ შეიყვანოთ სახელი.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="თქვენი იმეილი *" id="email" name="email" required data-ka-placeholder="თქვენი იმეილი *" data-en-placeholder="Your Email *" data-ka-validate="გთხოვთ შეიყვანოთ იმეილი." data-en-validate="Please enter your email." data-validation-required-message="გთხოვთ შეიყვანოთ იმეილი.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="თქვენი ტელეფონი *" id="phone" name="phone" required data-ka-placeholder="თქვენი ტელეფონი *" data-en-placeholder="Your Phone *" data-ka-validate="გთხოვთ შეიყვანოთ ტელეფონის ნომერი." data-en-validate="Please enter your phone number." data-validation-required-message="გთხოვთ შეიყვანოთ ტელეფონის ნომერი.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="თქვენი შეტყობინება *" id="message" name="message" required data-ka-placeholder="თქვენი შეტყობინება *" data-en-placeholder="Your Message *" data-ka-validate="გთხოვთ შეიყვანოთ შეტყობინება." data-en-validate="Please enter a message." data-validation-required-message="გთხოვთ შეიყვანოთ შეტყობინება."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" data-ka="შეტყობინების გაგზავნა" data-en="Send Message">შეტყობინების გაგზავნა</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
