{% include navbar.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading" data-ka="მათემატიკა" data-en="Mathematics">მათემატიკა</div>
                <div class="intro-lead-in" data-ka="-გზა უსასრულო შესაძლებლობებისკენ" data-en="The Path to Infinite Possibilities">-გზა უსასრულო შესაძლებლობებისკენ</div>
                <a href="#services" class="page-scroll btn btn-xl" data-ka="მეტის წაკითხვა" data-en="Read More">მეტის წაკითხვა</a>
            </div>
        </div>
    </header>
