<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if page.url == '/' %}
            <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            {% else %}
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{site.title}}</a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden"><a href="#page-top"></a></li>
                {% if page.url == '/' %}
                <li><a class="page-scroll" href="#services" data-ka="მთავარი" data-en="Services">მთავარი</a></li>
                <li><a class="page-scroll" href="#team" data-ka="ჩემს შესახებ" data-en="About Me">ჩემს შესახებ</a></li>
                <li><a class="page-scroll" href="#portfolio" data-ka="კურსები" data-en="Courses">კურსები</a></li>
                <li><a class="page-scroll" href="#contact" data-ka="კონტაქტი" data-en="Contact">კონტაქტი</a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/#services" data-ka="მთავარი" data-en="Services">მთავარი</a></li>
                <li><a href="{{ site.baseurl }}/#team" data-ka="ჩემს შესახებ" data-en="About Me">ჩემს შესახებ</a></li>
                <li><a href="{{ site.baseurl }}/#portfolio" data-ka="კურსები" data-en="Courses">კურსები</a></li>
                <li><a href="{{ site.baseurl }}/#contact" data-ka="კონტაქტი" data-en="Contact">კონტაქტი</a></li>
                {% endif %}
                <li><a href="{{ site.baseurl }}/resources/" data-ka="რესურსები" data-en="Resources">რესურსები</a></li>
                <li>
                    <button id="lang-toggle" style="margin-top:13px;margin-left:10px;padding:4px 12px;background:transparent;border:1px solid #00C4FF;color:#00C4FF;border-radius:3px;cursor:pointer;font-family:inherit;font-size:13px;font-weight:700;letter-spacing:1px;">EN</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
