<!-- Team Section -->
 <section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="img/about/tina.jpg" alt="" style="width: 300px; height: 300px;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">ჩემს შესახებ</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">მე ვარ თინა მგელაძე, მათემატიკის მასწავლებელი თბილისიდან. მაქვს მოსწავლეებთან მუშაობის 13 წლიანი წარმატებული სამუშაო გამოცდილება, შემიძლია როგორც ქართული, ასევე საერთაშორისო სკოლების მათემატიკის პროგრამებში დახმარება, ვასწავლი ორ ენაზე: ქართულად და ინგლისურად, სტუდენტებს ვეხმარები უმაღლესი მათემატიკის საგნების შესწავლაში,  მასწავლებლებს კი კვალიფიკაციის ამაღლებაში.
   ჩემი მოსწავლეები წარმატებით აბარებენ მისაღებ გამოცდებს საქართველოში ყველაზე ძვირადღირებულ და პრესტიჟულ სკოლებში, აქვთ მაღალი აკადემიური მოსწრება, წარმატებით მონაწილეობენ შიდა სასკოლო ოლიმპიადებში, აბარებენ ამერიკის ჰაი სქულში და  ევროპის უნივერსიტეტებში, სტუდენტები კი ევროპისა და საქართველოს უნივერსიტეტებში წარმატებით აბარებენ უმაღლესი მათემატიკის საგნებს.
  თუ შენც გსურს ჩემი დახმარება სხვადასხვა გამოცდებისთვის მომზადებაში, ნიშნის გაუმჯობესება ან სხვა შეგიძლია დამიკავშირდე.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
