<!-- Team Section -->
 <section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" src="img/about/tina.JPG" alt="" style="width: 300px; height: 380px;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">ჩემს შესახებ</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">მოგესალმები! კეთილი იყოს შენი მობრძანება ჩემს გვერდზე! მე  თინა მგელაძე ვარ, მათემატიკის მაგისტრი და სერტიფიცირებული მასწავლებელი. 
 
ვსწავლობდი თბილისის ივანე ჯავახიშვილის სახელობის სახელმწიფო უნივერსიტეტში.
საბაკალავრო ნაშრომი ,,მოკვეთილი ექსპონენციალური განაწილების პარამეტრების შეფასება’’  და სამაგისტრო ნაშრომი ,,ალბათური განაწილების სიმკვრივისა და მისი წარმოებულების ინტეგრალური ფუნქციონალების რეკურენტული შეფასება’’ დავიცავი პროფესორ ელიზბარ ნადარაიასა და პროფესორ გრიგოლ სოხაძის ხელმძღვანელობით. პარალელურად სპეციალისტად ვმუშაობდი ილია ვეკუას სახელობის გამოყენებითი მათემატიკის ინსტიტუტში.
 
მაქვს მოსწავლეებთან მუშაობის 13-წლიანი გამოცდილება.
ვასწავლი ორ ენაზე: ქართულად და ინგლისურად.
შემიძლია როგორც ქართული, ისე საერთაშორისო სასკოლო პროგრამების მათემატიკურ ნაწილში დახმარება.
სტუდენტებს უმაღლესი მათემატიკის სწავლაში ვეხმარები, მასწავლებლებს კი - კვალიფიკაციის ამაღლებაში.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
